.App {
  font-size: 16pt;
  font-family: sans-serif;
  line-height: 1.3em;
}

textarea {
    height: 100%;
    width: 100%;
    font-size: 16pt;
    font-family: sans-serif;
    line-height: 1.3em;
}

@media print {
  .no-print {
    display: none !important;
  }

  .MuiCard-root {
    border: none !important;
    box-shadow: none !important;
  }
}